n8n-compose/workflow/FTMO_Export.json
{
  "name": "FTMO Export",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "958af403-049b-447f-adef-5f5b59b93cdf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "13eqdUSKO7vOjBERlwYcij8Hnonkc1mFI",
          "mode": "list",
          "cachedResultName": "trading-journal-second-test.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/13eqdUSKO7vOjBERlwYcij8Hnonkc1mFI/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        0
      ],
      "id": "db3fb2c9-6310-4052-b3f2-b033f9ce118a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ng5R3pdcCfctLQlT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true,
          "rawData": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "36ddca8a-3133-48a9-a6b4-66d61fccac27",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const binaryPropertyName = Object.keys($input.item.binary)[0];\nconst fileContent = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\nconst csvText = fileContent.toString('utf-8');\n\nconst lines = csvText.split('\\n');\nconst headers = lines[0].split(',');\n\nlet precioCount = 0;\n\nconst newHeaders = headers.map(h => {\n  const clean = h.trim();\n  \n  if (clean === 'Precio') {\n    precioCount++;\n    if (precioCount === 1) {\n      return 'Precio_Entrada';\n    } else if (precioCount === 2) {\n      return 'Precio_Salida';\n    }\n  }\n  return clean;\n});\n\nlines[0] = newHeaders.join(',');\nconst fixedCSV = lines.join('\\n');\n\nconst buffer = Buffer.from(fixedCSV, 'utf-8');\n\nreturn {\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, 'fixed.csv', 'text/csv')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4bdfa61f-8585-4b52-9e1f-53bbaa3384ce",
      "name": "Formalise header naming"
    },
    {
      "parameters": {
        "jsCode": "const userId = \"W0Khqw3E5yc0DKgD5fTlfXUDzZGH8WfW\";\n\nconst trades = $input.all().map(item => {\n  const trade = item.json;\n  \n  return {\n    json: {\n      asset: trade.Símbolo,\n      tradeType: trade.Tipo,\n      price: parseFloat(trade.Precio_Entrada),\n      lots: parseFloat(trade.Volumen),\n      sl: parseFloat(trade.SL || \"0\"),\n      tp: parseFloat(trade.TP || \"0\"),\n      date: new Date(trade.Abrir).toISOString(),\n      closedAt: parseFloat(trade.Precio_Salida),\n      notes: `Ticket: ${trade.Ticket} | Beneficio: ${trade.Beneficio} | Pips: ${trade.Pips} | Duración: ${trade['Duración de la operación en segundos']}s`,\n      userId: userId,\n    }\n  };\n});\n\nreturn trades;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "ad41c924-d503-4d2e-a57e-937cd81646c5",
      "name": "Get Data Ready to POST"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.92:3000/api/trades-data",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($input.all())}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        96
      ],
      "id": "65c41252-a937-46ad-be62-036ea9b4b2dd",
      "name": "POST To Client",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO trades (\n  asset,\n  trade_type,\n  price,\n  lots,\n  sl,\n  tp,\n  date,\n  \"closedAt\",\n  notes,\n  \"userId\"\n)\nSELECT\n  asset,\n  \"tradeType\" AS trade_type,\n  price,\n  lots,\n  sl,\n  tp,\n  date,\n  \"closedAt\",\n  notes,\n  \"userId\"\nFROM jsonb_to_recordset(\n  '{{ JSON.stringify($items().map(i => i.json)) }}'::jsonb\n) AS t(\n  asset text,\n  \"tradeType\" text,\n  price numeric,\n  lots numeric,\n  sl numeric,\n  tp numeric,\n  date timestamptz,\n  \"closedAt\" numeric,\n  notes text,\n  \"userId\" text\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -96
      ],
      "id": "7c6ebdbe-ed14-451b-8c93-6d51db76356a",
      "name": "Execute a SQL query",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "3A1Olgojeyllwxpv",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Formalise header naming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get Data Ready to POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formalise header naming": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data Ready to POST": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "57d5621b-9701-40fa-9cae-de8bce07797f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a85e3490fddd0fa26342180c3f63151ad78b9cfa0a9e1975379d6308f5435a5a"
  },
  "id": "BEvbOdfbmeychU8tqopVP",
  "tags": []
}